:root {
  --primary: #d9902c;
  --secundary: rgba(255, 255, 255, 0.5);
  --terciary: rgb(0, 0, 0);
  --warning: rgb(255, 050, 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  background-color: #dbdbdb;
}